.main2 {
    height: 70vh;
    background-color: white;
    display: flex;
    padding: 2%;
  }

  @media (max-width:500px){
    .main2 {
      height: 50vh;
 
    }
  }
  
  
  .main2-col1{
      width:50%;
      display: flex;
      flex-direction: column;
      justify-content:space-evenly;
      height: 90%
  }
  
  .col1-item1 h1{
  margin: 0%;
  }
  
  @media (max-width:500px){
    .col1-item1 h1{      
    font-size: 16px;
      }
  }
  
  .col1-item1 span{
    color: #EA7052;
    }
  
  .col1-item2 p{
    margin: 0%;
    }
  
    @media (max-width:600px){
      .col1-item2 p{
  font-size: 10px;
        }
    }
    .col1-item3 button{
      height: 200%;
      width: 281px;
      border-radius: 4%;
      background-color: #EA7052;
      border: 0px solid #EA7052;
      }
  
      @media (max-width:600px){
        .col1-item3 button{
          height: 150%;
          width: 100%;
          }
      }
  
  .main2-col2{
      width:50%;
      display: flex;
      justify-content: center;
  }
  
  .main2-col2 img{
    height: 100%;
    width: 50%
  }
  @media (max-width:500px){
    .main2-col2 img{
      height: 100%;
      width: 80%
    }
  }
  