.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.header {
  height: 20vh;
  background-color: aqua;
}

.main1 {
  height: 50vh;
  background-color: rgb(61, 11, 61);
  display: flex;
  padding: 2%;
}

.main1-col1 {
  background-color: rgb(179, 160, 179);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.col1-item1 {
  display: flex;
  justify-content: flex-start;
}

.col1-item1 span {
  display: flex;
  align-self: center;
  margin-left: 2%;
}

.col1-item1 img {
  width: 5%;
}

@media(max-width: 500px){
    .col1-item1 img {
        width: 10%;
      } 

}
.col1-item2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.col1-item2 h1 {
  margin: 0%;
}

@media (max-width: 500px){
    .col1-item2 h1 {
        font-size: 16px;
      }
}

.col1-item2 h1 span {
    color: 
    #EA7052;
    text-decoration: underline;
    text-decoration-color: white;
  }
.col1-item3 {
  display: flex;
  flex-direction: column;
  color: white;
}

@media (max-width: 500px){
    .col1-item3 {
     font-size: 10px
      }
      
}

.col1-item4 {
    display:flex;
    color: white;

}
.col1-item4 div{
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
.col1-item4 img{
width: 10%;
height: 100%;
display: flex;
align-self: center;
margin-left: 2%;
}

@media (max-width: 500px){
    .col1-item4 img{
        width: 20%

    
        }
}


.main1-col2 {
  background-color: rgb(190, 133, 62);
  width: 50%;
  display: flex;
  flex-direction: column;

}
.col2-item1 {
    display: flex;
    height: 20%;
    justify-content: flex-end;
    align-items: center;
    
}

.col2-item1 button{
    height: 70%;
    width: 25%;
    margin-left: 5%;
    border-radius: 20%;
    border: 1px solid #EA7052;
    background-color: #EA7052;
    color: white;
    }
  
    @media (max-width: 500px){
        .col2-item1 button{
            height: 70%;
            width: 40%;
            }
    }
    .col2-item1  .but-2{
        background-color: rgb(61, 11, 61);
    }
    .col2-item2{
        display: flex;
        height: 80%;
        justify-content: flex-end;
        align-items: center;
    }
.col2-item2 img{
height: 80%;
width: 100%;
}

.main2 {
  height: 50vh;
  background-color: bisque;
}

.main3 {
  height: 50vh;
  background-color: brown;
}

.footer {
  height: 20vh;
  background-color: black;
}
