.header {
    height: 20vh;
    background-color: #EA7052;
  }
  
  @media (max-width:320px){
    .header {
      height: 10vh;
      background-color: #EA7052;
    }
  }
  
  .header-col{
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  color: white
  }
  
  .header-item1{
   height: 40%;
    background-color: rgba(255, 255, 255, 0.2);;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 5%;
    border-radius: 10%;
    box-shadow: 3px 3px 5px 6px #ee6e4f;
    margin-right: 2%;
  }
  
  
  
  .header-item2 h1{
    margin: 0%;
    margin-top: 2%;
    text-decoration: underline;
    text-decoration-color: white;
  }
  
  @media (max-width:500px){
    .header-item2 h1{
   font-size: 16px;
    }
  }
  
  .header-item3 button{
    height:40px;
    margin-top: 25%;
    margin-left: 2%;
    background-color: #EA7052;
    border: 0px solid #EA7052;
  
  }
  
  @media (max-width:500px){
    .header-item3 button{
      height:25px;
    }
  }
  
  .header-item3 img{
    height:100%
  }