.Form {
    position: absolute;
    left: 25%;
    right: 6%;
    top: 17%;
    bottom: 17%;
    border-radius: 40px;
    width: 69%;
    background-color: white;
  }
  
  @media (max-width: 500px) {
    .Form {
      position: absolute;
      left: 30%;
      right: 1%;
      top: 17%;
      bottom: 17%;
    }
  }
  
  .Form div input {
    display: block;
    height: 20%;
    width: 75%;
    margin-bottom: 3%;
    background-color: #f4f4f4;
    border: 0px solid #f4f4f4;
    border-radius: 10px;
    padding-left:5%
  }
  
  @media (max-width: 500px) {
    .Form div input {
      display: block;
      height: 25%;
    }
  }
  
  .Form h1 {
    margin: 15% 0px;
    margin-bottom: 0px;
    text-align: center;
  }
  @media (min-width: 1000px) {
    .Form h1 {
      margin: 10% 0px;
      margin-bottom: 0px;
      text-align: center;
    }
  }
  
  @media (max-width: 500px) {
    .Form h1 {
      margin: 30% 0px;
      margin-bottom: 0px;
    }
  }
  .wrapper-form {
    width: 100%;
    height: 60%;
  }
  
  .inner-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bar {
    position: absolute;
    width: 15.2%;
    height: 100%;
    left: 0%;
    top: 0%;
    background: #301446;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  
  @media (max-width: 500px) {
    .bar {
      position: absolute;
      width: 25%;
      height: 100%;
      left: 0%;
      top: 0%;
    }
  }
  
  .line3 {
    width: 100%;
    height: 40%;
  }
  
  .line4 {
    width: 100%;
    height: 30%;
  }
  
  .line5 {
    width: 100%;
    height: 10%;
  }
  
  .icon {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 30px;
    height: 30px;
  }
  
  .name {
    position: absolute;
    top: 3%;
    left: 30%;
    display: inline;
    color: white;
    font-weight: 1000;
  }
  
  @media (max-width: 500px) {
    .icon {
      position: absolute;
      top: 6%;
      left: 0%;
      width: 20px;
      height: 20px;
    }
    .name {
      position: absolute;
      top: 3%;
      left: 26%;
    }
  }
  