.Form {
  position: absolute;
  left: 25%;
  right: 6%;
  top: 17%;
  bottom: 17%;
  border-radius: 40px;
  width: 69%;
  background-color: white;
}

@media (max-width: 500px) {
  .Form {
    position: absolute;
    left: 30%;
    right: 1%;
    top: 17%;
    bottom: 17%;
  }
}



@media (max-width: 500px) {
  .Form div input {
    display: block;
    height: 100%;
  }
}

.Form h1 {
  margin: 15% 0px;
  margin-bottom: 0px;
  text-align: center;
}
@media (min-width: 100px) {
  .Form h1 {
    margin: 10% 0px;
    margin-bottom: 0px;
  }
}

@media (min-width: 500px) {
  .Form h1 {
    margin: 5% 0px;
    margin-bottom: 0px;
  }
}

@media (min-width: 800px) {
  .Form h1 {
    margin: 10% 0px;
    margin-bottom: 0px;
    text-align: center;
  }
}

.wrapper-form {
  width: 100%;
  height: 60%;
}

.inner-form{
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}
.email-input{
  height: 18%;
  width:100%;
  display:flex;
  justify-content: center;
}
.email-input input{
  width: 76%;
  height: 100%;
  background-color: #f4f4f4;
  border: 0px solid #f4f4f4;
  border-radius: 10px;
  padding-left:5%
}


.password-input{
  height: 18%;
  width:100%;
  display:flex;
  justify-content: center;
}
.password-input input{
  width: 76%;
  height:100%;
  background-color: #f4f4f4;
  border: 0px solid #f4f4f4;
  border-radius: 10px;
  padding-left:5%
}

.invalid input{
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.inval {
  color: #970c0c;
}


.bar {
  position: absolute;
  width: 15.2%;
  height: 100%;
  left: 0%;
  top: 0%;
  background: #301446;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 500px) {
  .bar {
    position: absolute;
    width: 25%;
    height: 100%;
    left: 0%;
    top: 0%;
  }
}

.line3 {
  width: 100%;
  height: 40%;
}

.line4 {
  width: 100%;
  height: 30%;
}

.line5 {
  width: 100%;
  height: 10%;
}

.icon {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 30px;
  height: 30px;
}

.name {
  position: absolute;
  top: 3%;
  left: 30%;
  display: inline;
  color: white;
  font-weight: 1000;
}

@media (max-width: 500px) {
  .icon {
    position: absolute;
    top: 6%;
    left: 0%;
    width: 20px;
    height: 20px;
  }
  .name {
    position: absolute;
    top: 3%;
    left: 26%;
  }
}


